html body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    overflow-x: hidden; 
}

/* Nome usuário + sair */
.user{
  color: white;  
  
  font-size: 16px;
  padding-right: 30px;
}

/*navbar responsivo*/
nav form a {
  color: white;
  
}

/*navbar responsivo*/
@media (max-width: 1024px) {
    #navbar{display: none;}
    .btn-toggle{display: block;}
  }

/*carrinho logo navbar*/
.cart1{
    padding: 0px 8px 0px 0px;
}

/*carrousel*/
.carrousel{
  max-width: 100%;
  height: auto;
}

/*lista_1*/
.lista_1{
  display: flex;
  justify-content: space-around;
}

/*Texto usuario navbar*/
form h5 a:hover {
  color:rgb(185, 183, 183)!important;
}

/*Texto inicio e formulário*/
div ul li a:hover {
    color:rgb(185, 183, 183)!important;
  }